<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IReservationService" />
        <binding name="BasicHttpBinding_IEventService" />
        <binding name="BasicHttpBinding_IPaymentService" />
        <binding name="BasicHttpBinding_IPaypalService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3643/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceClient.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:3643/ReservationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationService"
        contract="ReservationServiceClient.IReservationService" name="BasicHttpBinding_IReservationService" />
      <endpoint address="http://localhost:3643/EventService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEventService" contract="EventServiceClient.IEventService"
        name="BasicHttpBinding_IEventService" />
      <endpoint address="http://localhost:3643/PaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
        contract="PaymentServiceClient.IPaymentService" name="BasicHttpBinding_IPaymentService" />
      <endpoint address="http://localhost:1182/PaypalService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPaypalService" contract="PaypalServiceClient.IPaypalService"
        name="BasicHttpBinding_IPaypalService" />
    </client>
  </system.serviceModel>
 
</configuration>